---
header:
  overlay_image: /images/organized.jpg
  overlay_color: "#5e616c"
  overlay_filter: rgba(0, 125, 255, 0.5)
  caption: "Photo by STIL on Unsplash"
  actions:
    - label: "<i class='fa fa-envelope'></i> Download the tools now."
      url: "/get_tools/"
title: The Organized Family
layout: splash
excerpt: "Get the tools to help you organize your family."
author_profile: false
---

<div class="grid__wrapper">
  {% for post in paginator.posts %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
