---
header:
  overlay_image: /images/organized.jpg
  overlay_color: "#5e616c"
  overlay_filter: rgba(255, 125, 0, 0.5)
  caption: "Photo by STIL on Unsplash"
  actions:
    - label: "<i class='fa fa-envelope'></i> Subscribe now."
      url: "/podcast.rss"
title: The Organized Family
layout: splash
excerpt: "Get the tools to help you organize your family."
author_profile: false
---
<div class="grid__wrapper">
  {% for post in paginator.posts %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
